html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lora", serif;
}

.add-book-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(253, 230, 138, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-book-form {
  width: clamp(280px, 90%, 540px);
  height: clamp(320px, 70%, 520px);
  background-color: azure;
  border-radius: 20px;
  border: solid 4px lightgray;
  padding: 8% 2%;
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8%;
}

.form-input {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.form-input > * {
  font-size: min(26px, 2.6vmax);
  font-weight: 550;
}

.form-checkbox {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.form-checkbox > * {
  font-size: min(26px, 2.6vmax);
  font-weight: 550;
}
.form-checkbox > input {
  width: clamp(16px, 15%, 44px);
}

.form-actions {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
.form-actions > * {
  font-size: min(26px, 2.6vmax);
  font-weight: 550;
}

.confirm-form-btn {
  background-color: #34d399;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 5px gray;
  border: none;
  width: clamp(120px, 55%, 200px);
  height: clamp(40px, 35%, 84px);
}
.confirm-form-btn:hover {
  color: black;
}
.confirm-form-btn:active {
  background-color: #d97706;
  color: white;
  box-shadow: none;
}

.cancel-form-btn {
  background-color: lightgray;
  color: black;
  border-radius: 3px;
  box-shadow: 0px 4px 5px gray;
  border: none;
  width: clamp(90px, 35%, 150px);
  height: clamp(28px, 28%, 80px);
}
.cancel-form-btn:hover {
  color: #059669;
}
.cancel-form-btn:active {
  background-color: #92400e;
  color: white;
  box-shadow: none;
}

div.add-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.add-btn button {
  width: 200px;
  height: 75px;
  font-size: min(20px, 2vmax);
  font-weight: 520;
  border-radius: 30px;
  box-shadow: none;
  border: none;
  background-color: #34d399;
  color: white;
}
div.add-btn button:hover {
  color: black;
}
div.add-btn button:active {
  background-color: #d97706;
  color: white;
}

h1.top-bar {
  font-size: clamp(28px, 2.8vmax, 32px);
  font-weight: 800;
  text-align: center;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 15fr 1fr;
}

.header {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  background-color: #065f46;
}

.main {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background-color: #047857;
  overflow: auto;
}
.main .main-grid {
  margin: 8px;
  height: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  grid-template-rows: minmax(250px, 250px);
  grid-auto-rows: minmax(250px, 250px);
  gap: 16px;
}

.footer {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  background-color: #10b981;
}

.card {
  width: clamp(200px, 80%, 350px);
  height: 250px;
  background-color: silver;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-template-rows: 2fr 5fr 3fr;
}
.card .side-color {
  grid-column: 1/span 1;
  grid-row: 1/span 3;
  background-color: #fbbf24;
}
.card .title {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  padding: 3%;
  font-size: min(22px, 2.5vmax);
  font-weight: 600;
  font-style: italic;
}
.card .content {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  padding: 1%;
  font-size: min(20px, 2vmax);
  font-weight: 520;
}
.card .actions {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  padding: 6%;
  display: flex;
  flex-direction: row-reverse;
  gap: 4%;
}

.card-action-delete {
  width: clamp(40px, 20%, 100px);
  height: auto;
  padding: 0;
}
.card-action-delete button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 0;
}
.card-action-delete button:hover {
  background-color: red;
}
.card-action-delete button img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
