// Font stack

$font-stack: 'Lora', serif;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-stack;
}

// ~~~~~~~~~~

// Theme

$emerald-800: #065f46;
$emerald-700: #047857;
$emerald-600: #059669;
$emerald-500: #10b981;
$emerald-400: #34d399;

$amber-400: #fbbf24;

// ~~~~~~~~~~

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 15fr 1fr;
}

@mixin on-grid($row, $row-span: 1, $col, $col-span: 1) {
    grid-column: $col / span $col-span;
    grid-row: $row / span $row-span;
}

.header {
    @include on-grid(1, 1, 1, 1);

    background-color: $emerald-800;
}

.main {
    @include on-grid(2, 1, 1, 1);

    background-color: $emerald-700;
    overflow: auto;
    
    .main-grid {
        height: 100%;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
        grid-template-rows: minmax(250px, 450px);
        grid-auto-rows: minmax(250px, 450px);
        gap: max(8px, 2%);
    }
}

.footer {
    @include on-grid(3, 1, 1, 1);

    background-color: $emerald-500;

}

// ~~~~~~~~~~

// Cards

$side-color: $amber-400;

.card {
    width: clamp(200px, 80%, 350px);
    height: clamp(250px, 70%, 400px);
    background-color: silver;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 2fr 5fr 3fr;

    .side-color {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;

        background-color: $side-color;
    }

    .title {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;

        padding: 1%;
        font-size: min(22px, 2.5vmax);
        font-weight: 600;
    }

    .content {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

        padding: 1%;
        font-size: min(20px, 2vmax);
        font-weight: 520;
    }

    .actions {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
}
